header.header
    .container
        nav.nav
            .logo
                .logo__title
                    | Жанна Тата
                .logo__slogan
                    | Сертифицированный тренер по тета-хилингу

                //- <!-- Кнопка для мобильной навигации -->
                //-     <div id="menu-togle" class="menu-icon">
                //-         <div class="menu-icon-line"></div>
                //-     </div>
            #menu-togle.menu-icon
                .menu-icon-line

            .top-nav
                a(class='top-nav__link', href='#') Обо мне
                a(class='top-nav__link', href='#') Тета-хиллинг
                a(class='top-nav__link', href='#') Услуги
                a(class='top-nav__link', href='#') Расписание
                a(class='top-nav__link', href='#') Галерея
                a(class='top-nav__link', href='#') Блог
                a(class='top-nav__link', href='#') Контакты

        .header-row
            .header__content
                h1.header__title
                    | Обучающий курс <span>Тета Хилинга</span>

                .header__text
                    p
                        | Раскройте в себе новые качества и способности и научитесь управлять своей жизнью
                ul.header-list
                    li.header-list__item <b> Гармонизация</b> взаимоотношений (супружеских, любовных, партнерских, с детьми)  
                    li.header-list__item <b> Обретение</b> лучшего для вас партнера
                    li.header-list__item <b> Развитие</b> любых необходимых качеств
                    li.header-list__item <b> Преодоление</b> страхов, фобий, зависимостей
                    li.header-list__item <b> Исцеление</b> физических заболеваний
                    li.header-list__item <b> Достижение</b> финансового благополучия
                    li.header-list__item <b> Преодоление</b> деструктивных убеждений     
            
            
    .header__img-wrapper
        img.header__img(src="./img/hero-img.png", alt="")
    a.header__arrow(href="#")
        img.header__arrow-img(src="./img/head-arrow.svg", alt="Nav")