.menu-icon {
	z-index: 19;
	position: relative;
	//display: flex;
	// top: px;
	// right: 10px;
    justify-content: center;
    align-items: center;
	width: 30px;
	height: 30px;
	cursor: pointer;

}


@media (min-width: 1168px) {
    .menu-icon {            
        display: none;
    }
}

.menu-icon-line {
	position: relative;
	width: 30px;
	height: 5px;
	background-color: #69B0AC;
}

.menu-icon-line::before {
	position: absolute;
	left: 0;
	top: -10px;
	content: '';
	width: 30px;
	height: 5px;
	background-color: #69B0AC;
	transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon-line::after {
	position: absolute;
	left: 0;
	top: 10px;
	content: '';
	width: 30px;
	height: 5px;
	background-color: #69B0AC;
	transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon.menu-icon-active .menu-icon-line {
	background-color: transparent;
}

.menu-icon.menu-icon-active .menu-icon-line::before {
	transform: rotate(45deg);
	top: 0;
	transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon.menu-icon-active .menu-icon-line::after {
	transform: rotate(-45deg);
	top: 0;
	transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}