.nav {
    padding-top: 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.top-nav {
    z-index: 1;
    position: absolute;
    right: -335px;
    top: 0;
    height: 100%;
    width: 335px;
    padding: 50px;
    background-color: rgba(11, 92, 65, 0.7);
    transition: transform 0.4s ease-in; 
	display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}


@media (min-width: 1168px) {
    .top-nav {
        position: static;
        width: auto;
        height: auto;
        padding: 0;
        background-color:  transparent;
    }
}

.top-nav--active {
    transform: translateX(-100%);   
}

.top-nav__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.top-nav__item {
    margin-bottom: 30px;
}

.top-nav__link {
    font-weight: bold;
    font-size: 38px;
    line-height: 1;
    text-decoration: none;
    color: #fff;
    transition: color 0.2s ease-in;    
    margin-bottom: 14px;
    
    &:last-chaild {
        margin-bottom: 0;
    }
    &:hover {
        color: #69b0ac;
    }
}

@media (min-width: 1168px) {
    .top-nav__link {
        margin-right: 48px;
        color: #363636;
        font-size: 18px;

        &:last-chaild {
            margin-right: 0;
        }
    }
}

//----------------


//     text-decoration: none;
//     font-weight: 600;
//     font-size: 22px;
//     margin-bottom: 14px;