.section-about {
    padding-top: 133px;
    padding-bottom: 123px;
}
.section-about__heading {
    font-family: 'Uni Neue Book', sans-serif;
    max-width: 855px;
    margin: 0 auto 61px;
    font-weight: normal;
    font-size: 48px;
    line-height: 1.33;
    text-align: center;

    & span {
        font-family: 'Uni Neue', sans-serif;
        color: #69B0AC;
    }
}