.header {
    position: relative;
    background-color: #EEF9FF;
    //overflow-x: hidden;
}

@media (min-width: 1100px) {
    .header {            
        height: 800px;
        //overflow-x: visible;
    }
}

.header-row {
    display: flex;
    flex-direction: column;

}

@media (min-width: 1168px) {
    .header-row {       
        flex-direction: row;     
        
    }
}