mixin card(title, price, img)
    .card
        .card__img
            img(src="img/products/" + img, alt = title)
        .card__title
            | #{title}
        .card__price
            | #{price}  