extends ./../layouts/main.pug

block variables
    - const title = "Главная"

block content
    section.section-about
        .container
            h2.section-about__heading Меня зовут Жанна, и я вам <br /> <span>помогу трансформировать</span> свою жизнь

