extends ./../layouts/main.pug

block variables
    - const title = "Главная"

block content
    section.section-about
        .container
            h2.section-about__heading Меня зовут Жанна, и я вам <br /> <span>помогу трансформировать</span> свою жизнь
            .section-about__row
                .section-about__video
                    .promo-video
                        button.promo-video__play-btn 
                            img(src="./img/play.svg", alt="")                       
                .section-about__description

