extends ./../layouts/main.pug

block variables
    - const title = "Главная"

block content 
    section.section-about.hidden
        .container
            h2.section-about__heading Меня зовут Жанна, и я вам <br /> <span>помогу трансформировать</span> свою жизнь
            .section-about__row
                .section-about__video
                    .promo-video
                        button.promo-video__play-btn 
                            img(src="./img/play.svg", alt="")                       
                .section-about__description
                    p Всю свою сознательную жизнь я увлекалась <strong>психологией, эзотерикой, восточной философией</strong>, 
                    |но несмотря на это не могла выстроить свою личную жизнь. Тогда я поняла, что только изменив себя, возможно  
                    |изменить мир вокруг себя.
                    p Впервые посетив индийского, гуру который приехал в Европу и <strong>получила 
                    |даршан</strong>, соприкоснулась с местной культурой и глубокой верой и смогла 
                    |получить ответы на свои вопросы.
                    p Сейчас я практик, <strong>живу во Франции</strong> - общий стаж консультирования 
                    |более 1 000 часов.  Особое место в практике занимают обучающие 
                    |классы  по методике <strong>Тета Хилинг</strong>
            .numbers-wrapper
                .number
                    .number__value
                        |1000+
                    .number__description
                        .number__description-bold
                            |Часов
                        .number__description-text
                            |Общий стаж <br />консультирования
                .number-dots
                    img(src="./img/num-dots.svg", alt="")
                .number
                    .number__value
                        |15+
                    .number__description
                        .number__description-bold
                            |Лет
                        .number__description-text
                            |Занимаюсь вопросами <br />духовного роста
                .number-dots
                    img(src="./img/num-dots.svg", alt="")
                .number
                    .number__value
                        |1200+
                    .number__description
                        .number__description-bold
                            |Человек
                        .number__description-text
                            |Успешно прошли <br />индивидуальные тренинги