block variables

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet" href="fonts/uni-neue/stylesheet.css")
        title #{title}
    body

        include ./../blocks/_header.pug

        .content
            block content     

        include ./../blocks/_footer.pug
            
        script(src="js/main.js")
        script(src="js/video.js")