* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Uni Neue', sans-serif;
}
.container {
    max-width: 1290px;
    margin: 0 auto;
    padding: 0 15px;
}
p { 
    margin: 0; 
    padding: 0;}

@import "blocks/_header.scss";
@import "sections/_logo.scss";
@import "sections/_top-nav.scss";
@import "sections/_btn-menu-mobile.scss";
@import "sections/_header-content.scss";
@import "blocks/_content.scss";
@import "sections/_about-row.scss";
@import "sections/_numbers.scss";
@import "sections/_modal.scss";


.hidden {
    display: none !important;
}